.board{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: var(--tile-width);
    padding: 25px;
}

.word
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: clamp(6px, .5vw, 12px);
    row-gap: 8px;
}