.keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    width: 75%;
}

.button {
    padding: 10px;
    font-size: calc(30px + 1vw);
    width: calc(60px + 1vw);
    height: calc(60px + 1vw);
}

.button:disabled{
    pointer-events: none;
    color: initial;
}

.button.correct {
    background-color: #275d46;
    border-color: #3e8a67;
}

.button.wrong {
    background-color: #722b30;
    border-color: #a64249;
}