.keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    width: 90%;
}

.button {
    font-size: var(--fs-keyboard);
    width: clamp(50px, 4.5cqmax, 90px);
    height: clamp(50px, 4.5cqmax, 90px);
}

.button:disabled{
    pointer-events: none;
    color:white;
}

.button.correct {
    background-color: var(--color-correct-bg);
    border-color: var(--color-correct);
}

.button.wrong {
    background-color: var(--color-wrong-bg);
    border-color: var(--color-wrong);
}