:root{
    --animTime: 1s;
    --tileBgColor: #abcddb;
}

.letterTile
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tileBgColor);
    border: 5px solid #24324D;

    width: calc(55px + 1vw);
    height: calc(70px + 1vw);
}

.revealed{
    animation: revealTile var(--animTime) ease-in-out forwards;
}

@keyframes revealTile{
    0% {
        background-color: var(--tileBgColor);
        transform: scale(0.8);
    }

    50% {
        background-color: #22C55E;
        transform: scale(1.1);
    }

    100% {
        background-color: var(--tileBgColor);
        transform: scale(1);
    }
}

.letter
{
    font-size: calc(60px + 1vw);
    color:black;
}

.visible
{
    opacity: 0;
    animation: revealLetter var(--animTime) ease-in-out forwards;
}

@keyframes revealLetter{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.hidden
{
    opacity: 0;
}