.listWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
    border-bottom: 1px solid var(--border);
    margin-bottom: 5px;
    padding: 0px 25px 25px 25px;
}

.category{
    font-size: var(--fs-md);
    font-weight: bold;
    margin-bottom: 10px;
}

.word{
    font-size: var(--fs-sm);
}

.category, .word{
    margin: 0;
}

.delete{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
    font-size: var(--fs-sm);
    margin-bottom: 5px;
    margin-right: 5px;
}