:root {
  --sans: system-ui, 'Segoe UI', sans-serif;

  --color-bg: #1c2233;
  --color-border: #2e303a;
  --color-surface: #abcddb;

  --color-primary: #2C3A5B;
  --color-primary-hover: #3B82F6;

  --color-correct: #22C55E;
  --color-correct-bg: #275d46;

  --color-wrong: #a64249;
  --color-wrong-bg: #722b30;

  --color-disabled-bg: #5A6478;
  --color-disabled-text: #C5CAD3;

  --color-text-muted: #111;

  --tile-width : clamp(55px, 4cqmax, 90px);
  --tile-height: clamp(70px, 5cqmax, 105px);

  --fs-sm:  clamp(0.75rem, 1.5vw, 1.5rem); 
  --fs-md:  clamp(1.125rem, 2vw, 2.5rem);    
  --fs-lg:  clamp(3rem, 4vw, 4.5rem);

  --fs-keyboard:    clamp(1.5rem, 4cqmax, 3rem);
  --fs-tile: clamp(3rem,  4cqmax, 5rem);

  --animTime: 1s;
}

body {
  margin: 0;
  height: 100vh;
  color: white;
  background: var(--color-bg);
  font-family: var(--sans); 
}

#root {
  width: min(90vw, 1500px);
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--color-border);
  height: 100%;
  box-sizing: border-box;
}

.page{
  display: flex;
  flex-direction: column;
  height: 100%;

  animation: pageFadeIn 1s ease-out forwards;
}

@keyframes pageFadeIn{
  from{
    opacity: 0;
  }

  to{
    opacity:1;
  }
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
  color: white;
  border: 3px solid white;
  cursor: pointer;
  transition:.2s;
}

.btn:hover{
  background-color: var(--color-primary-hover);
  transform: scale(1.05);
}