.navbar{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border);
    font-size: 30px;
    color: white;
}

h1{
    padding: 0;
    margin: 5px;
}

.return{
    position: absolute;
    left: 0;
    text-decoration: none;
    font-size: 25px;
}

.return:visited, .return:active{
    color: white;
}