.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wordContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyboardContainer{
  display: grid;
  grid-template-columns: repeat(8, .01fr);
  gap: 8px;
}

.tile{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.word {
    border-bottom: 3px solid black;
}

.keyboard {
    border: 2px solid black;
    border-radius: 8px;
}
