.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

/* Board */

.board{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
    border-radius: 50px;
}

.singleWord
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tile
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    border: 5px solid #2E3A59;

    width: calc(55px + 1vw);
    height: calc(70px + 1vw);
}

.letter
{
    font-size: calc(60px + 1vw);
    color:black;
}

.visable
{
    visibility: visible;
}

.hidden
{
    visibility: hidden;
}

/* Keyboard */

.keyboardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    width: 75%;
}

.button {
    padding: 10px;
    font-size: calc(30px + 1vw);
    width: calc(60px + 1vw);
    height: calc(60px + 1vw);
    background-color: #24324D;
    border: 2px solid white;
}

.correct, .wrong{
    color:black;
}

.correct {
    background-color: #22C55E;
}

.wrong {
    background-color: #EF4444;
}