:root{
    --animTime: 1s;
    --tileBgColor: #abcddb;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

/* Board */

.board{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
    border-radius: 50px;
}

.singleWord
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.tile
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tileBgColor);
    border: 5px solid #24324D;

    width: calc(55px + 1vw);
    height: calc(70px + 1vw);
}

.tile.revealed{
    animation: revealTile var(--animTime) ease-in-out forwards;
}

@keyframes revealTile{
    0% {
        background-color: var(--tileBgColor);
        transform: scale(0.8);
    }

    50% {
        background-color: #22C55E;
        transform: scale(1.1);
    }

    100% {
        background-color: var(--tileBgColor);
        transform: scale(1);
    }
}

.letter
{
    font-size: calc(60px + 1vw);
    color:black;
}

.visable
{
    opacity: 0;
    animation: revealLetter var(--animTime) ease-in-out forwards;
}

@keyframes revealLetter{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.hidden
{
    opacity: 0;
}

/* Keyboard */

.keyboardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    width: 75%;
}

.button {
    padding: 10px;
    font-size: calc(30px + 1vw);
    width: calc(60px + 1vw);
    height: calc(60px + 1vw);
    background-color: #24324D;
    border: 3px solid white;
    cursor: pointer;
}

.button:hover{
    background-color: #3B82F6;
    transform: scale(1.05);
}

.button:disabled{
    pointer-events: none;
    color: initial;
}

.correct {
    background-color: #275d46;
    border-color: #3e8a67;
}

.wrong {
    background-color: #722b30;
    border-color: #a64249;
}